In [1]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

In [7]:
debt_file = "Overall_Rankings_Debt.csv"
debt_df = pd.read_csv(debt_file)
debt_df.head()

,Rank,Institution Name,State,Average Debt Per Borrower
0,1,Removed due to discrepancy in reporting,NaN,NaN
1,2,Bryant University,RI,"$54,067"
2,3,Removed due to discrepancy in reporting,NaN,NaN
3,4,Removed due to discrepancy in reporting,NaN,NaN
4,5,Removed due to discrepancy in reporting,NaN,NaN

In [9]:
debt_df['Institution Name'].unique()

array(['Removed due to discrepancy in reporting', 'Bryant University',
       'Baylor University', 'Texas Christian University',
       'University of New Haven', 'Quinnipiac University',
       'Western New England University',
       'The Catholic University of America', 'Endicott College',
       'University of the Sciences',
       'Rose-Hulman Institute of Technology', 'DeSales University',
       'Washington & Jefferson College', 'Neumann University',
       'Life University', "St. John's College",
       'Roger Williams University', 'Gwynedd Mercy University',
       'Duquesne University', 'University of Detroit Mercy',
       'Lebanon Valley College', 'Springfield College',
       'Berklee College of Music', 'Penn State Erie, The Behrend College',
       'Boston University', 'Sacred Heart University',
       'Nazareth College of Rochester', 'Delaware Valley University',
       'The College of St. Scholastica', 'Randolph College',
       'Ursinus College', 'New Jersey Institute of Technology',
       'Trinity University', 'Penn State Altoona',
       'York College of Pennsylvania', 'Indiana Tech',
       'Tulane University', 'Ringling College of Art and Design',
       'Grove City College', 'Franklin Pierce University',
       'Bay Path University', 'Lasell College',
       'Wentworth Institute of Technology', 'The University of Scranton',
       'College of Saint Benedict', 'Cleveland Institute of Art',
       'Barry University', 'Marywood University',
       'Rochester Institute of Technology', 'Roanoke College',
       'Penn State York', 'Southern New Hampshire University',
       'University of St. Thomas', 'Kutztown University of Pennsylvania',
       'Elizabethtown College', 'Lincoln University',
       'Stevens Institute of Technology', 'Eastern University',
       "Mount St. Mary's University", 'Albion College',
       'University of New Hampshire', 'Corban University',
       'Marietta College', 'Augsburg University', 'Penn State Harrisburg',
       'Gordon College', 'Ithaca College', 'Clarke University',
       'Thomas College', 'Judson University', 'Keene State College',
       "King's College", 'High Point University', 'Wartburg College',
       'California Baptist University', "Saint John's University",
       'Penn State Berks', 'University of Pittsburgh',
       'Cedar Crest College', 'Providence College',
       'Savannah College of Art and Design',
       'Lubbock Christian University',
       'Indiana University of Pennsylvania', 'Westminster College',
       'Penn State Hazleton', 'Pratt Institute', 'Messiah College',
       'Alma College', 'Marist College', 'Buena Vista University',
       'The College of New Jersey', 'Trinity College of Florida',
       'Edgewood College', 'Bethune-Cookman University',
       'Penn State University Park', 'Fairfield University',
       'Augustana University', 'Temple University',
       'Milwaukee School of Engineering', "St. Edward's University",
       'University of Mary Hardin-Baylor', 'Valparaiso University',
       'Butler University', 'University of Pittsburgh at Greensburg',
       'Southern Methodist University',
       'University of Pittsburgh at Johnstown', "Saint Michael's College",
       'Tiffin University', 'Mount Marty College', 'Muskingum University',
       'Laguna College of Art & Design',
       'University of Wisconsin&-Milwaukee', 'Creighton University',
       'Eckerd College', 'Bethel University', 'Babson College',
       'New England College', 'University of Pittsburgh at Bradford',
       'Vaughn College of Aeronautics and Technology',
       'Syracuse University', 'Penn State Wilkes-Barre',
       'University of Dayton', 'The College of Saint Rose',
       'Georgian Court University', 'Fordham University',
       'The University of Findlay', 'Massachusetts Maritime Academy',
       'Saint Vincent College', 'Coastal Carolina University',
       'St. John Fisher College', 'Elms College', 'Marquette University',
       'Wittenberg University', 'Mary Baldwin University',
       'Kansas City Art Institute', 'Schreiner University',
       'Alverno College', 'Plymouth State University',
       'Stevenson University', 'Bethany Lutheran College',
       'Albertus Magnus College', 'Bloomsburg University of Pennsylvania',
       'Christian Brothers University', 'Wake Forest University',
       'Central College', 'Wells College',
       'Clarion University of Pennsylvania',
       'Concordia University, St. Paul', 'University of Indianapolis',
       'Lock Haven University of Pennsylvania', 'LeTourneau University',
       'Southwestern College', 'Geneva College', 'Simpson College',
       'Ferris State University', 'Stonehill College',
       'Michigan Technological University', 'Rider University',
       'Albright College', 'Trine University',
       'Marymount Manhattan College', 'Penn State Worthington Scranton',
       'Missouri Valley College', 'College of Saint Mary',
       'Franklin College', 'St. Bonaventure University',
       'Northwest Missouri State University', 'University of Lynchburg',
       'St. Lawrence University', 'Hardin-Simmons University',
       'Evangel University', 'Carroll University', 'University of Dallas',
       'The University of Tulsa', 'Chowan University',
       'Heidelberg University', 'Cazenovia College',
       'Prairie View A&M University', 'University of Evansville',
       'Chatham University', 'Luther College', 'Penn State Lehigh Valley',
       'Brenau University', 'Le Moyne College', 'Simmons University',
       'Lamar University', 'Hope College', 'Spelman College',
       'McDaniel College', 'VanderCook College of Music',
       'Villanova University', 'Rowan University', 'Moravian College',
       'Penn State Beaver', 'Loyola University Chicago', 'Siena College',
       'Rockford University', 'West Chester University of Pennsylvania',
       'Winona State University', 'Stetson University', 'Union College',
       'Champlain College', 'Pacific University', 'Westmont College',
       'La Roche College', 'Seton Hill University',
       'Slippery Rock University of Pennsylvania', 'Lewis University',
       'Ramapo College of New Jersey', 'Hood College', 'Drury University',
       'Western Connecticut State University', 'Baker University',
       "The King's College", "St. Mary's University", 'Lehigh University',
       'LaGrange College', 'Illinois Wesleyan University',
       'The University of Alabama', 'Manhattan College',
       'Mount Carmel College of Nursing', 'Adelphi University',
       'Pine Manor College', "Saint Mary's University of Minnesota",
       'Howard Payne University', 'Nichols College', 'Wheaton College',
       'Linfield College', 'Coe College', 'Stockton University',
       'State University of New York Maritime College',
       'Thomas More University', 'Biola University',
       'Roberts Wesleyan College', 'Point Loma Nazarene University',
       'Millsaps College', 'St. Catherine University', 'Canisius College',
       'Harrisburg University of Science and Technology',
       'Niagara University', 'Grand View University',
       'Saint Louis University', 'Drake University'], dtype=object)

In [8]:
salary_file = "salaries-by-college-type.csv"
salary_df = pd.read_csv(salary_file)
salary_df.head()

,School Name,School Type,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary
0,Massachusetts Institute of Technology (MIT),Engineering,"$72,200.00","$126,000.00","$76,800.00","$99,200.00","$168,000.00","$220,000.00"
1,California Institute of Technology (CIT),Engineering,"$75,500.00","$123,000.00",NaN,"$104,000.00","$161,000.00",NaN
2,Harvey Mudd College,Engineering,"$71,800.00","$122,000.00",NaN,"$96,000.00","$180,000.00",NaN
3,"Polytechnic University of New York, Brooklyn",Engineering,"$62,400.00","$114,000.00","$66,800.00","$94,300.00","$143,000.00","$190,000.00"
4,Cooper Union,Engineering,"$62,200.00","$114,000.00",NaN,"$80,200.00","$142,000.00",NaN

In [10]:
salary_df['School Name'].unique()

array(['Massachusetts Institute of Technology (MIT)',
       'California Institute of Technology (CIT)', 'Harvey Mudd College',
       'Polytechnic University of New York, Brooklyn', 'Cooper Union',
       'Worcester Polytechnic Institute (WPI)',
       'Carnegie Mellon University (CMU)',
       'Rensselaer Polytechnic Institute (RPI)',
       'Georgia Institute of Technology', 'Colorado School of Mines',
       'Stevens Institute of Technology',
       'Illinois Institute of Technology (IIT)',
       'Wentworth Institute of Technology',
       'Virginia Polytechnic Institute and State University (Virginia Tech)',
       'South Dakota School of Mines & Technology',
       'New Mexico Institute of Mining and Technology (New Mexico Tech)',
       'Rochester Institute of Technology (RIT)',
       'Embry-Riddle Aeronautical University (ERAU)',
       'Tennessee Technological University',
       'University of Illinois at Urbana-Champaign (UIUC)',
       'University of Maryland, College Park',
       'University of California, Santa Barbara (UCSB)',
       'University of Texas (UT) - Austin',
       'State University of New York (SUNY) at Albany',
       'University of Florida (UF)', 'Louisiana State University (LSU)',
       'University of Georgia (UGA)',
       'Pennsylvania State University (PSU)',
       'Arizona State University (ASU)',
       'Indiana University (IU), Bloomington', 'University of Iowa (UI)',
       'Randolph-Macon College', 'University of Alabama, Tuscaloosa',
       'University of Mississippi', 'University of New Hampshire (UNH)',
       'West Virginia University (WVU)', 'University of Tennessee',
       'Ohio University', 'Florida State University (FSU)',
       'Bucknell University', 'Colgate University', 'Amherst College',
       'Lafayette College', 'Bowdoin College',
       'College of the Holy Cross', 'Occidental College',
       'Washington and Lee University', 'Swarthmore College',
       'Davidson College', 'Carleton College', 'Williams College',
       'Pomona College', 'Wesleyan University (Middletown, Connecticut)',
       'Bates College', 'Union College', 'University of Richmond',
       'Vassar College', 'Middlebury College', 'Mount Holyoke College',
       'Franklin and Marshall College', 'DePauw University',
       'St. Olaf College', 'Colby College', 'Gettysburg College',
       'Siena College', 'Smith College', 'Hamilton College',
       'Wellesley College', 'Denison University', 'Oberlin College',
       'University of Puget Sound', 'Colorado College (CC)',
       'Reed College', 'Gustavus Adolphus College', 'Whitman College',
       'Ursinus College', 'Juniata College', 'Wittenberg University',
       'Grinnell College', 'Skidmore College', 'Moravian College',
       'Lewis & Clark College', 'Fort Lewis College',
       'Thomas Aquinas College', 'Evergreen State College',
       'Dartmouth College', 'Princeton University', 'Yale University',
       'Harvard University', 'University of Pennsylvania',
       'Cornell University', 'Brown University', 'Columbia University',
       'University of California, Berkeley',
       'University of Virginia (UVA)', 'Cal Poly San Luis Obispo',
       'University of California at Los Angeles (UCLA)',
       'University of California, San Diego (UCSD)',
       'University of California, Davis',
       'University of Colorado - Boulder (UCB)',
       'University of California, Irvine (UCI)', 'Texas A&M University',
       'Binghamton University', 'University of Missouri - Rolla (UMR)',
       'San Jose State University (SJSU)', 'University of Michigan',
       'Stony Brook University', 'Rutgers University',
       'Purdue University', 'University of Connecticut (UConn)',
       'University of Massachusetts (UMass) - Amherst',
       'California State University (CSU), Chico',
       'University of Wisconsin (UW) - Madison',
       'California State University, Fullerton (CSUF)',
       'George Mason University',
       'University of Massachusetts (UMass) - Lowell',
       'San Francisco State University (SFSU)', 'University of Arizona',
       'Clemson University', 'University of Washington (UW)',
       'Michigan State University (MSU)',
       'University of Rhode Island (URI)',
       'San Diego State University (SDSU)', 'Auburn University',
       'Washington State University (WSU)',
       'California State University, Long Beach (CSULB)',
       'Iowa State University', 'University of Delaware',
       'University of Colorado - Denver',
       'California State University, East Bay (CSUEB)',
       'State University of New York (SUNY) at Farmingdale',
       'University of Minnesota',
       'University of California, Santa Cruz (UCSC)',
       'Ohio State University (OSU)',
       'North Carolina State University (NCSU)',
       'Oregon State University (OSU)', 'University of Utah',
       'University of Nevada, Reno (UNR)', 'University of Oklahoma',
       'University of Arkansas', 'University of Vermont (UVM)',
       'University of Alabama at Huntsville (UAH)',
       'California State University, Sacramento (CSUS)',
       'University of Idaho', 'University of Illinois at Chicago',
       'State University of New York (SUNY) at Buffalo',
       'University of Kansas', 'University of New Mexico (UNM)',
       'University of North Carolina at Chapel Hill (UNCH)',
       'University of California, Riverside (UCR)',
       'State University of New York (SUNY) at Geneseo',
       'University of Missouri - Columbia', 'University of Nebraska',
       'University of Texas at Arlington (UTA)',
       'Northern Illinois University (NIU)', 'Oklahoma State University',
       'University of North Dakota',
       'California State University, Northridge (CSUN)',
       'University of Houston (UH)', 'New Mexico State University',
       'Lamar University', 'Mississippi State University (MSU)',
       'Colorado State University (CSU)', 'Kansas State University (KSU)',
       'University of Wyoming (UW)', 'Utah State University',
       'University of Wisconsin (UW) - Platteville',
       'University of Oregon', 'University of Kentucky (UK)',
       'University of Massachusetts (UMass) - Boston',
       'University of Maryland Baltimore County (UMBC)',
       'North Dakota State University (NDSU)',
       'State University of New York (SUNY) at Oswego',
       'University of Massachusetts (UMass) - Dartmouth',
       'Montana State University - Bozeman',
       'State University of New York (SUNY) at Oneonta',
       'University of Louisiana (UL) at Lafayette',
       'State University of New York (SUNY) at Plattsburgh',
       'Wayne State University', 'University of Hawaii',
       'University of Toledo', 'Florida International University (FIU)',
       'University of Wisconsin (UW) - Whitewater',
       'Western Washington University',
       'Minnesota State University - Mankato',
       'University of Wisconsin (UW) - Milwaukee',
       'University of Arkansas - Monticello (UAM)',
       'Penn State - Harrisburg',
       'University of North Carolina at Charlotte (UNCC)',
       'Georgia State University', 'Western Michigan University (WMU)',
       'South Dakota State University (SDSU)', 'Idaho State University',
       'Illinois State University', 'Cleveland State University',
       'University of Alaska, Anchorage', 'Fitchburg State College',
       'University of Nebraska at Omaha',
       'Southern Illinois University Carbondale',
       'University of Texas at El Paso (UTEP)',
       'California State University, Dominguez Hills (CSUDH)',
       'University Of Maine', 'Eastern Michigan University',
       'Bowling Green State University', 'University of Montana',
       'University of Central Florida (UCF)',
       'University of South Carolina',
       'University of Nevada, Las Vegas (UNLV)',
       'St. Cloud State University',
       'University of Wisconsin (UW) - Parkside',
       'California State University (CSU), Stanislaus',
       'Humboldt State University', 'Florida Atlantic University (FAU)',
       'University of South Florida (USF)',
       'Portland State University (PSU)', 'Eastern Washington University',
       'University of Texas at San Antonio (UTSA)', 'University of Akron',
       'State University of New York (SUNY) at Potsdam',
       'University of Alabama at Birmingham (UAB)',
       'University of Memphis (U of M)', 'Boise State University (BSU)',
       'Missouri State University (MSU)',
       'University of Wisconsin (UW) - La Crosse',
       'Appalachian State University',
       'Virginia Commonwealth University (VCU)',
       'University of Wisconsin (UW) - Stout',
       'East Carolina University (ECU)', 'Utah Valley State College',
       'University of Missouri - St. Louis (UMSL)',
       'Western Carolina University',
       'University of Wisconsin (UW) - Oshkosh',
       'State University of New York (SUNY) at Fredonia',
       'University of Missouri - Kansas City (UMKC)',
       'University of Wisconsin (UW) - Eau Claire',
       'Ball State University (BSU)',
       'University of North Carolina at Wilmington (UNCW)',
       'University of Wisconsin (UW) - Stevens Point',
       'University of Southern Maine', 'Arkansas State University (ASU)',
       'Kent State University', 'Tarleton State University (TSU)',
       'University of Wisconsin (UW) - Green Bay',
       'Morehead State University', 'Austin Peay State University',
       'Pittsburg State University', 'Southern Utah University',
       'Montana State University - Billings',
       'Black Hills State University'], dtype=object)